---
export interface Props {
  title: string;
  body: string;
  href: string;
  tags: string;
  techStack: string[];
}

const { href, title, body, tags, techStack } = Astro.props;
---

<li
  class="group relative list-none rounded-lg dark:hover:bg-zinc-600 hover:bg-zinc-300/50 transition ease-in-out duration-300 p-4"
>
  <a href={href} target="_blank">
    <h2 class="my-2 text-zinc-800 dark:text-zinc-200 text-lg font-bold">
      {title}
      <span
        class="invisible group-hover:visible transition ease-in-out duration-500"
        >&rarr;</span
      >
    </h2>
    <h3 class="my-2 text-zinc-700 dark:text-zinc-300 text-md">
      {body}
    </h3>
    <ul class="my-2 list-none flex flex-wrap gap-2">
      {
        // if techStack is not empty, map through it and display each item, if empty, dont show anything
        techStack.map(
          (tech) =>
            // if tech is not empty, display it, if empty, dont show anything
            tech && (
              <li class="bg-zinc-200 dark:bg-zinc-700/50 rounded-md px-2 py-1 text-zinc-800 dark:text-zinc-200 text-sm font-semibold">
                {tech}
              </li>
            )
        )
      }
    </ul>
    <p
      class="bg-teal-700 dark:bg-teal-500/50 w-1/5 rounded-md my-2 text-center py-1 text-zinc-200 text-sm font-semibold absolute bottom-0 right-2 drop-shadow-lg hover:drop-shadow-none"
    >
      {tags}
    </p>
  </a>
</li>
